@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #2974f7;
    --text-color: #ffffff;
  }
}

@layer components {

  /* FOOTER  */
  .social-item {
    @apply grid place-items-center rounded-full transition-all duration-100;
    height: 30px;
    width: 30px;
    background-color: theme('colors.text-color');
    color: theme('colors.main-color');
  }

  .social-item:hover {
    background-color: theme('colors.main-color');
    color: theme('colors.text-color');
  }

  .container {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
  }

  .nav-footer {
    @apply inline-block py-1 transition-transform duration-200 ease-in-out hover:translate-x-1 hover:text-main-color;
  }

  #link_footer:hover i {
    color: theme('colors.text-color');
  }

  #link_footer:hover span {
    color: theme('colors.main-color');
  }

  #link_footer:hover span:last-child {
    color: theme('colors.text-color');
  }

  /* HEADER */
  .btn {
    @apply text-white uppercase font-bold inline-flex items-center relative;
  }

  .btn-hover::before {
    @apply absolute top-0 left-0 w-1/2 h-full bg-[var(--main-color)] transition-all duration-300 ease-in-out;
    content: "";
    z-index: 0;
  }

  .btn-hover:hover::before {
    width: 100%;
  }

  .hamburger-menu {
    --size: 30px;
  }

  .hamburger-menu .hamburger,
  .hamburger-menu .hamburger::before,
  .hamburger-menu .hamburger::after {
    width: var(--size);
    height: 3px;
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 0.5rem;
  }

  .hamburger-menu .hamburger::before,
  .hamburger-menu .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .hamburger-menu .hamburger::before {
    top: -10px;
  }

  .hamburger-menu .hamburger::after {
    bottom: -10px;
  }

  .hamburger-menu.active .hamburger {
    background-color: transparent;
  }

  .hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
  }

  .hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
  }

  .nav-header {
    @apply text-xl uppercase font-bold text-white hover:text-[var(--main-color)] transition-colors duration-300;
  }

  .btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
  }

  .btn-hover::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
  }

  .btn-hover:hover::before {
    width: 100%;
  }

  .btn i,
  .btn span {
    z-index: 1;
  }

  .btn i {
    margin-right: 1rem;
  }

  /* INSERT */
  .input-insert {
    @apply flex flex-col w-full bg-transparent;
  }

  .input-id-insert {
    @apply border-2 border-dashed border-text-color rounded py-1 px-4 bg-transparent text-text-color
  }

  .file-drop-insert {
    @apply border-2 border-dashed border-insert-border rounded-lg p-5 relative cursor-pointer;
  }

  .drop-text-insert {
    @apply text-drop-color text-main-size;
  }

  .input-file-hidden-insert {
    @apply absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer;
  }

  .file-drop-insert.drag-over {
    @apply border-main-color;
  }

  .message.success {
    @apply block bg-message-bg-success text-message-color-success border-insert border-solid border-message-border-success text-center;
  }

  .message.error {
    @apply block bg-message-bg-error text-message-color-error border-insert border-solid border-message-border-error text-center;
  }
}